<p>
    Спасибо, что оформили подписку на издания "Российской газеты"!
</p>
<table>
    <tr>
        <td>№</td>
        <td>Наименование</td>
        <td>Количество</td>
        <td>Цена</td>
    </tr>
    {% for good in goods %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ good.name }}</td>
            <td>{{ good.qty }}</td>
            <td>{{ good.cost }}</td>
        </tr>
    {% endfor %}
</table>
<p>
    Чтобы начать получать издание, не забудьте оплатить ваш заказ по ссылке от системы оплаты Platron.
</p>
<p>
    Если у вас возникнут сложности, пожалуйста позвоните по телефону 8(800) 100-11-13 или напишите нам на podpiska@rg.ru. При обращении укажите номер заказа {{ order.id }}
</p>
<p>
    Приятного чтения!<br/>
    Команда “Российской газеты”
</p>
