<!DOCTYPE html>
<html>
<head>
    <title>Чек</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
        table {
            border: solid 1px black;
            border-radius: 4px 4px 4px 4px;
            padding: 4px 7px;
            border-collapse: collapse;
        }
        th {
            border: solid 1px black;
        }
        td {
            border: solid 1px black;
        }
    </style>
</head>
<body>
<p>
    {{ vendor.name }}
</p>
<p>
    {{ vendor.address }}
</p>
<p>
    {{ vendor.website }}
</p>
<p>
    Кассовый чек № {{ pg.fiscal_receipt_number }}
    № Авт. KSR13.12-6-38
    Смена {{ pg.shift_number }}
</p>
<p>
    Приход {{ pg.receipt_date }}
</p>
<table>
    <tr>
        <th>№</th>
        <th>Наименование</th>
        <th>Цена, руб.</th>
        <th>Кол-во</th>
        <th>Стоимость, руб.</th>
        <th>Ставка налога</th>
    </tr>
    {% for g in goods %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ g.name }}</td>
            <td>{{ g.price }}</td>
            <td>{{ g.quantity }}</td>
            <td>{{ g.cost }}</td>
            <td>НДС {{ g.vat }}%</td>
        </tr>
    {% endfor %}
</table>
<b>Итого: {{ total }} руб.</b>
<p>Эл.адрес покупателя: {{ order.email }}</p>
<p>
    Сайт ФНС <a href="https://www.nalog.ru" target="_blank">https://www.nalog.ru</a>
</p>
<ul>
    <li>РН ККТ: {{ pg.ecr_registration_number }}</li>
    <li>ФН №: {{ pg.fn_number }}</li>
    <li>ФД №: {{ pg.fiscal_document_number }}</li>
    <li>ФП №: {{ pg.fiscal_document_attribute }}</li>
</ul>
<p>
    Атрибуты ОФД
</p>
<ul>
    {% for k, v in pg %}
        <li>{{ k }}: {{ v }}</li>
    {% endfor %}
</ul>
</body></html>
