{% extends 'base.html.twig' %}

{% block body %}
    <h1>Areas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Areaname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for area in areas %}
            <tr>
                <td><a href="{{ path('areas_show', { 'id': area.id }) }}">{{ area.id }}</a></td>
                <td>{{ area.areaName }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('areas_show', { 'id': area.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('areas_edit', { 'id': area.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('areas_new') }}">Create a new area</a>
        </li>
    </ul>
{% endblock %}
