<p>
    Спасибо, что оформили подписку на издания "Российской газеты"! Оплата заказа прошла успешно.
</p>
<table>
    <tr>
        <td>№</td>
        <td>Наименование</td>
        <td>Количество</td>
        <td>Цена</td>
    </tr>
    {% for good in goods %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ good.name }}</td>
            <td>{{ good.qty }}</td>
            <td>{{ good.cost }}</td>
        </tr>
    {% endfor %}
</table>
<p>
    Задать вопросы о доставке можно по телефону 8(800) 100-11-13 или по электронной почте podpiska@rg.ru. При обращении укажите номер заказа {{ order.id }}.
</p>
<p>
    Приятного чтения!<br/>
    Команда “Российской газеты”
</p>

